<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
        

  <h1 class="titulo">Entrar</h1>

  <form>

      <div class="linha">
          <i class="fa-solid fa-user"></i>
          <input type="text" id="nome" placeholder="Informe seu nome">
      </div>
      
      <div class="linha">
          <i class="fa-solid fa-envelope"></i>
          <input type="email" id="usuario" placeholder="Informe seu e-mail">
      </div>

      <div class="linha">
          <i class="fa-solid fa-lock"></i>
          <input type="password" id="senha" placeholder="Crie uma senha">
      </div>           
      
      <div class="linha">
        <i class="fa-solid fa-lock"></i>
        <input type="password" id="confirmarSenha" placeholder="Crie uma senha">
    </div>        

 
          <p class="mensagem"></p>

          
          <button class="confirmar" type="button">Entrar</button>
          <button class="cadastrar" type="button">Cadastrar</button>
      
      
  </form>
</div>
